@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Overlock+SC&display=swap');

/*General style*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: 'Overlock SC', cursive;
    font-size: 2rem;
}

/*Game area*/
.main-title {
    text-align: center;
    font-weight: 900;
    margin-top: 2em;
    margin-bottom: 2em;
}

.subtitle {
    text-align: center;
}

.content-option {
    background-color: rgb(211, 211, 211, 0.4);
    width: 1000px;
    max-width: 90%;
    padding: 1em 2em 5em;
    margin: 0 auto;
}

.game-area {
    padding: 2em 1em 1em;
    width: 600px;
    max-width: 95%;
    margin: 0 auto;
}

/*buttons container: rock, paper, scissors*/
.game-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
    gap: 2em;
}

.btn-icons {
    padding: 1em;
    cursor: pointer;
    border-radius: 10%;
    background-color: #fff;
    transition: transform 200ms;
}

.fa-light {
    font-family: "Font Awesome 6 Free";
    font-size: 5rem;
}

.red {
    border: 5px solid red;
    
}

.fa-hand-back-fist{
    color: red;
    padding: 0.075em;
}

.fa-hand {
    color: blue;
}

.blue {
    border: 5px solid blue;
}

.fa-hand-scissors {
    color: green;
}

.green {
    border: 5px solid green;
}

.btn-icons:hover {
    transform: scale(1.1);
}

/*score section: user and computer*/

.result {
    display: flex;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    margin-top: 0.2em;
}

.score {
    margin-left: 0.5em;
    color: rgb(104, 101, 101);
}

/*Battle section. These boxes will be hidden until the user clicks an option*/

.battle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    margin-top: 3em;
}

.versus {
    align-self: center;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

.selection {
    background-color: lightgray;
    font-size: 4rem;
    padding: .45em;
}